body {
	background-color: #24c7cc;
	margin: 0;
}

.skrollr-container {
	height: 100%;
	overflow: none;
}

.helper {
	height: 400%;
}

.marker {
	height: 25%;
	width: 5%;
}

.one {
	background-color: red;
}

.two {
	background-color: blue;
}

.three {
	background-color: cyan;
}

.four {
	background-color: green;
}

#ghostbox {
	width: 22rem;
	height: 20rem;
	left: 50%;
	top: 50%;
	margin-left: -11rem;
	margin-top: -10rem;
	position: fixed;
	z-index: 2;
}

#ghostbox2 {
	width: 22rem;
	height: 30rem;
	left: 50%;
	top: 50%;
	margin-left: -11rem;
	margin-top: -15rem;
	position: fixed;
}

.rectangle1 {
	background-color: white;
	border-radius: 50% 50% 0 0;
	width: 16rem;
	height: 20rem;
	position: absolute;
	left: 50%;
	margin-left: -8rem;
}

.rectangle2 {
	background-color: black;
	border-radius: 50% 50% 0 0;
	width: 16rem;
	height: 20rem;
	position: absolute;
	left: 50%;
	margin-left: -8rem;
}

.rectangle3 {
	background-color: white;
	border-radius: 50% 50% 0 0;
	width: 16rem;
	height: 20rem;
	position: absolute;
	left: 50%;
	margin-left: -8rem;
	top: 5rem;
}

.arm1 {
	background-color: white;
	border-radius: 50% 50% 0 0;
	width: 4rem;
	height: 5rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: rotate(-60deg);
}
.arm2 {
	background-color: white;
	border-radius: 50% 50% 0 0;
	width: 4rem;
	height: 5rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(60deg);
}

.arm3 {
	background-color: black;
	border-radius: 50% 50% 0 0;
	width: 4rem;
	height: 5rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: rotate(-60deg);
}
.arm4 {
	background-color: black;
	border-radius: 50% 50% 0 0;
	width: 4rem;
	height: 5rem;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(60deg);
}

.eye1 {
	background-color: black;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 28%;
	top: 25%;

}

.eye2 {
	background-color: black;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 28%;
	top: 25%;
}

.eye3 {
	background-color: white;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 28%;
	top: 25%;

}

.eye4 {
	background-color: white;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 28%;
	top: 25%;
}

.eye5 {
	background-color: black;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 28%;
	top: 33.4%;

}

.eye6 {
	background-color: black;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	position: absolute;
	right: 28%;
	top: 33.4%;
}

.mouth {
	background-color: black;
	border-radius: 50%;
	width: 4.6rem;
	height: 4.6rem;
	position: absolute;
	left: 50%;
	margin-left: -2.3rem;
	top: 45%;
}
.mouth2 {
	background-color: white;
	border-radius: 50%;
	width: 4.6rem;
	height: 4.6rem;
	position: absolute;
	left: 50%;
	margin-left: -2.3rem;
	top: 45%;
}
.mouth3 {
	background-color: black;
	border-radius: 50%;
	width: 4.6rem;
	height: 4.6rem;
	position: absolute;
	left: 50%;
	margin-left: -2.3rem;
	top: 46.7%;
}

.roof {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10rem 10rem 10rem;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	left: 50%;
	margin-left: -10rem;
}

.whiteout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.lightsout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
}

.zombie {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:url("https://thenypost.files.wordpress.com/2017/01/zombiepic.jpg?quality=90&strip=all");
	background-size:cover;
	z-index: 1;
}

.boo {
	position: fixed;
	width: 100%;
	height: 30rem;
	top: 50%;
	margin-top: -15rem;
	font-size: 20rem;
	text-align: center;
	font-family: tahoma;
	font-weight: bold;
	color: #ffffff;
	z-index: 2;
}

#link {
	position: absolute;
	top: 385%;
	left: 50%;
	margin-left: -5rem;
	width: 10rem;
	text-align: center;
	z-index: 2;
}

a {
	font-family: tahoma;
	font-size: 6rem;
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}